<p id="notice"><%= notice %></p>

<h1>Bios</h1>

<table>
  <thead>
    <tr>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bios.each do |bio| %>
      <tr>
        <td><%= bio.Bio %></td>
        <td><%= link_to 'Show', bio, class: "normal-link" %></td>
        <td><%= link_to 'Edit', edit_bio_path(bio), class: "normal-link" %></td>
        <td><%= link_to 'Destroy', bio, method: :delete, data: { confirm: 'Are you sure?' }, class: "normal-link"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bio', new_bio_path, class: "normal-link" %>
