<h1 class="text-center">Donate As per User And His Bio</h1><%= link_to "Log in", new_user_session_path, class: "normal-link" %><br>
<br/>
<br/>
<% @users.each do |user| %>
  <div class="row donation-list">
    <div class="col-md-3">
      Email: <%= user.email %>
    </div>
    <div class="col-md-6">

        <% user.bios.each_with_index do |bio, index| %>
          <%= "Bio-#{index+1}:  "+bio.try(:Bio) %> <br/>
        <%end%>
    </div>
    <div class="col-md-2">
      <%= form_tag create_donate_payment_method_path, id: "donation-list-create-payment-method" do  %>
        <%= link_to "Donate", add_donate_payment_method_path(:user_id=>user.id), remote: true, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <br/>
<%end%>
